.container {
    margin: 5%;
}

.container-delete{
    display: flex;
    margin: 5%;
}

.action-buttons {
    padding-bottom: 20px;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-full-width {
    width: 100%;
  }

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

mat-divider {
    margin-top: 15px;
    width: 75%;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.card-sub-division~.card-sub-division {
    margin-top: 15px;
}

.card-divider {
    margin-top: -15px;
}

.spaced-label {
    margin-right: 5px;
    /* margin-left: 40px; */
}

.mat-expansion-panel-body {
    text-align: center;
}

section {
    /* display: block; */
    margin: 0 auto;
    text-align: left;
}

.checkbox-margin {
    margin-right: 15px !important;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.select-placeholder-container {
    display: flex;
    align-items: center;
}

.select-placeholder-container>span {
    flex: 1;
}

.mat-form-field-disabled .mat-form-field-underline {
    height: 0;
    background-color: transparent;
}

.mat-input-element:disabled {
    color: black;
}

table {
    width: 100%;
}

@media only screen and (max-width:720px) {
    .headers-align .mat-expansion-panel-header-description {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h1 {
        font-size: 30px;
    }
}