<div class="container">
    <h2>Sección Cáncer Broncopulmonar</h2>
    <mat-accordion class="headers-align" multi>
        <!-- Screening survey panel -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Encuesta Inicial
                </mat-panel-title>
                <mat-panel-description>
                    Contiene los datos obtenidos a través de la encuesta inicial.
                    <mat-icon *ngIf="surveyForm.pristine; else saveSurvey">fact_check</mat-icon>
                    <ng-template #saveSurvey>
                        <button type="button" *appPermission="[PERMISSIONS.ADMIN]; feature FEATURES.PATIENT_FILES" mat-raised-button color="primary" (click)="updateEnrollmentSurvey()">Guardar Encuesta</button>
                    </ng-template>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <section [formGroup]="surveyForm">
                <h4>Marque los campos que apliquen:</h4>
                <p *ngFor="let question of survey">
                    <mat-checkbox *ngIf="question.type=='boolean'" formControlName="{{question.name}}">
                        {{question.msg}}</mat-checkbox>
                </p>
            </section>
        </mat-expansion-panel>
        <!-- Current status info panel -->
        <mat-expansion-panel [formGroup]="patientForm">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Información de Estado
                </mat-panel-title>
                <mat-panel-description>
                    Contiene el estado del paciente dentro de la sección Broncopulmonar.
                    <mat-icon *ngIf="patientForm.pristine; else savePatient">person_outline</mat-icon>
                    <ng-template #savePatient>
                        <button *appPermission="[PERMISSIONS.ADMIN]; feature FEATURES.PATIENT_FILES" mat-raised-button color="primary" (click)="updatePatient()">Guardar Cambios</button>
                    </ng-template>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="state">
                        <mat-option value="Activo">Activo</mat-option>
                        <mat-option value="Inactivo">Inactivo</mat-option>
                        <mat-option value="Derivado">Derivado</mat-option>
                        <mat-option value="Rechazado">Rechazado</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Derivación</mat-label>
                    <mat-select formControlName="derivationStateNfm">
                        <mat-option value="Rechaza">Rechaza</mat-option>
                        <mat-option value="En curso">En curso</mat-option>
                        <mat-option value="Terminado">Terminado</mat-option>
                        <mat-option value="Abandono">Abandono</mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha de Detección Cancer</mat-label>
                    <input matInput [matDatepicker]="cancerPicker" formControlName="cancerDetectionDate">
                    <mat-datepicker-toggle matSuffix [for]="cancerPicker"></mat-datepicker-toggle>
                    <mat-datepicker #cancerPicker></mat-datepicker>
                </mat-form-field>
            </section>

            <section *ngIf="patientForm.pristine; else motivoestado">

            </section>
            <ng-template #motivoestado>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Describa el motivo de estado</mat-label>
                    <input matInput #message maxlength="256" placeholder="El paciente..." formControlName="motivorechazo">
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                  </mat-form-field>
                
                    
            </ng-template>


        </mat-expansion-panel>
        <mat-expansion-panel (opened)="loadExams()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Exámenes
                </mat-panel-title>
                <mat-panel-description>
                    Listado de TAC y Biopsias del paciente
                    <mat-icon>fact_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <h4>Exámenes TAC</h4><br>
            <div *appPermission="[PERMISSIONS.ADMIN]; feature FEATURES.EXAMS" [formGroup]="tacForm">
                <p>Nuevo Tac</p>
                <section>
                    <mat-divider></mat-divider>
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="nodule">
                            <mat-option value="Vidrioesmerilado">Vidrioesmerilado</mat-option>
                            <mat-option value="Mixto ">Mixto </mat-option>
                            <mat-option value="Solido">Solido</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Tamaño</mat-label>
                        <input matInput type="number" formControlName="size">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>LUNG/RAD</mat-label>
                        <mat-select formControlName="lungRads">
                            <mat-option value="0">0</mat-option>
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4A">4A</mat-option>
                            <mat-option value="4B">4B</mat-option>
                            <mat-option value="4S">4S</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha exámen</mat-label>
                        <input matInput [matDatepicker]="tacPicker" formControlName="ldctDate">
                        <mat-datepicker-toggle matSuffix [for]="tacPicker"></mat-datepicker-toggle>
                        <mat-datepicker #tacPicker></mat-datepicker>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addTac()">Agregar</button>
                </section>
                <span *ngIf="tacForm.get('lungRads')?tacForm.get('lungRads')?.value?.includes('4'):false">
                    <p [class.error-text]="tacForm.hasError('actionRequired') && isTouched">Indique la acción a realizar:</p>
                    <p><mat-checkbox formControlName="petTc">PET/TL</mat-checkbox></p>
                    <p><mat-checkbox *ngIf ="tacForm.get('lungRads')?.value !== '4A'" formControlName="biopsy">Biopsia</mat-checkbox></p>
                    <mat-form-field appearance="fill">
                        <mat-label>Agendar TAC en:</mat-label>
                        <input matInput type="number" placeholder="días" formControlName="proposedTime">
                    </mat-form-field>
                </span>
            </div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="tacList" matSort>
                    <!-- ID Column -->
                    <ng-container matColumnDef="idLdct">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.idLdct}} </td>
                    </ng-container>

                    <!-- Size -->
                    <ng-container matColumnDef="size">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tamaño </th>
                        <td mat-cell *matCellDef="let row"> {{row.size}} </td>
                    </ng-container>

                    <!-- NODULE -->
                    <ng-container matColumnDef="nodule">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nódulo </th>
                        <td mat-cell *matCellDef="let row"> {{row.nodule}} </td>
                    </ng-container>

                    <!-- LUNG RAD -->
                    <ng-container matColumnDef="lungRads">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> LUNG/RAD </th>
                        <td mat-cell *matCellDef="let row"> {{row.lungRads}} </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
                        <td mat-cell *matCellDef="let row"> {{(row.petTc?"PET/TC ":'')+(row.biopsy?"Biopsia ":'')+(row.nextDate?"TAC":'')}} </td>
                    </ng-container>
                    <!-- Delete Column -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar</th>
                        <td mat-cell *matCellDef="let row">
                            <button type="button" mat-icon-button color="primary" (click)="deleteTac(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="tacColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: tacColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">{{ NO_TABLE_DATA }}</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Muestra page of TAC" #tacPaginator="matPaginator"></mat-paginator>
            </div>
            <mat-divider></mat-divider>
            <h4>Biopsias</h4>
            <section [formGroup]="biopsyForm" *appPermission="[PERMISSIONS.ADMIN]; feature FEATURES.EXAMS">
                <p>Nueva Biopsia</p>
                <mat-divider></mat-divider>
                <mat-form-field appearance="fill">
                    <mat-label>TIPO</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let bio of bioTypes" [value]="bio.type">{{ bio.type }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha examen</mat-label>
                    <input matInput [matDatepicker]="bpsyPicker" formControlName="biopsyDate">
                    <mat-datepicker-toggle matSuffix [for]="bpsyPicker"></mat-datepicker-toggle>
                    <mat-datepicker #bpsyPicker></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="addBiopsy()">Agregar</button>
            </section>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="bpsyList" matSort>
                    <!-- ID Column -->
                    <ng-container matColumnDef="idBiopsy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.idBiopsy}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tamaño </th>
                        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="biopsyDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nódulo </th>
                        <td mat-cell *matCellDef="let row"> {{formatDate(row.biopsyDate)}} </td>
                    </ng-container>

                    <!-- Delete Column -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar</th>
                        <td mat-cell *matCellDef="let row">
                            <button type="button" mat-icon-button (click)="deleteBiopsy(row)">
                                <mat-icon color="primary">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="bpsyColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: bpsyColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">{{ NO_TABLE_DATA }}</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Muestra page of Biopsia" #bioPaginator="matPaginator"></mat-paginator>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- risk survey section -->
<div class="container">

    <h2>Encuesta de Riesgos</h2>

    <div class="action-buttons">
        <span *appPermission="[PERMISSIONS.ADMIN]; feature FEATURES.EXAMS">
            <div @slideInOut *ngIf="pageForm.dirty" class="editor"
                (@slideInOut.start)="isEditableChange.emit(patientForm.dirty)">
                <button mat-raised-button color="primary" matTooltip="Guardar encuesta de riesgos"
                    (click)="updateSurveyRisk()">Guardar Cambios</button>
                <button mat-raised-button (click)="cancelSurveyRiskChanges()">Cancelar</button>
            </div>
        </span>
    </div>

    <mat-accordion class="headers-align" #accordionB="matAccordion" multi>
        <mat-expansion-panel [formGroup]="basic" (opened)="loadAllRiskSurvey()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Antecedentes Generales
                </mat-panel-title>
                <mat-panel-description>
                    Datos adicionales registrados a través de la encuesta de riesgo.
                    <mat-icon>badge</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Peso</mat-label>
                    <input type="number" matInput formControlName="weight">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Altura</mat-label>
                    <input type="number" matInput formControlName="height">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>IMC</mat-label>
                    <input type="number" matInput formControlName="imc">
                </mat-form-field>
            </section>
            <section>
                <mat-form-field appearance="fill">
                    <mat-label>Circ. Abdominal</mat-label>
                    <input type="number" matInput formControlName="cAbdominal">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Presión Sistólica</mat-label>
                    <input type="number" matInput formControlName="paSystolic">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Presión Diástolica</mat-label>
                    <input type="number" matInput formControlName="paDiastolic">
                </mat-form-field>
            </section>
            <section>
                <mat-checkbox class="checkbox-margin" formControlName="regularMedications"
                    (change)="!$event.checked?basic.get('reasonMedicines')?.reset():null">Toma Medicamentos
                </mat-checkbox>
                <mat-form-field appearance="fill" *ngIf="basic.get('regularMedications')?.value">
                    <mat-label>Razón</mat-label>
                    <input type="text" matInput formControlName="reasonMedicines">
                </mat-form-field>
            </section>
            <section>
                <mat-checkbox class="checkbox-margin" formControlName="anticoagulants"
                    (change)="!$event.checked?basic.get('wichAnticoagulants')?.reset():null">Toma Anticoagulantes
                </mat-checkbox>
                <mat-form-field appearance="fill" *ngIf="basic.get('anticoagulants')?.value">
                    <mat-label>Cuáles</mat-label>
                    <input type="text" matInput formControlName="wichAnticoagulants">
                </mat-form-field>
            </section>
        </mat-expansion-panel>
        <mat-expansion-panel [formGroup]="pathologies" (opened)="loadAllRiskSurvey()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Antecedentes Médicos
                </mat-panel-title>
                <mat-panel-description>
                    Datos adicionales registrados a través de la encuesta de riesgo.
                    <mat-icon>health_and_safety</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <section>
                <mat-checkbox formControlName="arterialHypertension">Hipertensión arterial</mat-checkbox><br>
                <mat-checkbox formControlName="diabetes">Diabetes</mat-checkbox><br>
                <mat-checkbox formControlName="epilepsy">Epilepsia</mat-checkbox><br>
                <mat-checkbox fomrControlName="gastricUlcer">Úlcera Gástrica</mat-checkbox><br>
                <mat-checkbox formControlName="hypoHyperThyroidism">Hipo/Hipertiroidismo</mat-checkbox><br>
                <mat-checkbox formControlName="operated"
                    (change)="!$event.checked?pathologies.get('operationReason')?.reset():null">Ha sido operado alguna
                    vez
                </mat-checkbox>
                <mat-form-field appearance="fill" *ngIf="pathologies.get('operated')?.value">
                    <mat-label>Razón</mat-label>
                    <input type="text" formControlName="operationReason" matInput>
                </mat-form-field><br>
            </section>

            <section>
                <mat-checkbox formControlName="cancer" (change)="resetCancerConditionals($event.checked)">Ha tenido
                    cáncer
                </mat-checkbox>
                <mat-form-field appearance="fill" *ngIf="pathologies.get('cancer')?.value">
                    <mat-label>Cuál</mat-label>
                    <input type="text" formControlName="typeCancer" matInput
                        (ngModelChange)="!$event?pathologies.get('cancerAge')?.reset():null">
                </mat-form-field>
                <mat-form-field appearance="fill"
                    *ngIf="pathologies.get('cancer')?.value && pathologies.get('typeCancer')?.value">
                    <mat-label>Edad</mat-label>
                    <input type="number" formControlName="cancerAge" matInput>
                </mat-form-field>
            </section>

        </mat-expansion-panel>
        <mat-expansion-panel [formGroup]="habits" (opened)="loadAllRiskSurvey()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Hábitos
                </mat-panel-title>
                <mat-panel-description>
                    Datos adicionales registrados a través de la encuesta de riesgo.
                    <mat-icon>directions_run</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <section>
                <mat-checkbox formControlName="smokes" (change)="resetSmokerConditional($event.checked)">Fuma
                </mat-checkbox>
                <mat-form-field appearance="fill" *ngIf="habits.get('smokes')?.value">
                    <mat-label>Cantidad</mat-label>
                    <input type="number" formControlName="numberCigarettes" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="habits.get('smokes')?.value">
                    <mat-label>Años Fumando</mat-label>
                    <input type="number" formControlName="yearsSmoking" matInput>
                </mat-form-field>
            </section>
            <section>
                <mat-checkbox formControlName="eatCerealFiber">Consume diariamente cereales/fibras</mat-checkbox>
            </section>
            <section>
                <mat-checkbox formControlName="drinkAlcohol"
                    (change)="!$event.checked?habits.get('quantityAlcohol')?.reset():null">Consume alcohol
                </mat-checkbox>
                <mat-form-field appearance="fill" *ngIf="habits.get('drinkAlcohol')?.value">
                    <mat-label>Cuánto</mat-label>
                    <input type="number" formControlName="quantityAlcohol" matInput>
                </mat-form-field>
            </section>
            <section>
                <mat-checkbox formControlName="physicalActivity">Realiza ACtividad Física (al menos caminar 20 min
                    diarios)
                </mat-checkbox>
            </section>
            <section>
                <mat-checkbox formControlName="threeFruits">Consume a lo menos 3 porciones de frutas y verduras al día
                </mat-checkbox>
            </section>
            <section>
                <mat-checkbox formControlName="friedFoods">Consume semanalmente 2 o mas alimentos fritos</mat-checkbox>
            </section>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="loadAllRiskSurvey()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Antecedentes de Cáncer en Familia
                </mat-panel-title>
                <mat-panel-description>
                    Datos adicionales registrados a través de la encuesta de riesgo.
                    <mat-icon>group_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <section [formGroup]="familyMemberForm">
                <mat-form-field appearance="fill">
                    <mat-label>Familiar con Cáncer</mat-label>
                    <mat-select formControlName="familyMember" required>
                        <mat-option *ngFor="let member of familyOptions" [value]="member">{{member}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Edad de detección</mat-label>
                    <input type="number" formControlName="age" matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Cancer</mat-label>
                    <input formControlName="cancer" type="text" matInput required>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="addFamilyMemberCancer()">Agregar</button>
            </section>
            <mat-list role="list">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="familyMemberList" #familyTable="matTable" class="mat-elevation-z8">
                        <ng-container matColumnDef="member">
                            <th mat-header-cell *matHeaderCellDef> Familiar </th>
                            <td mat-cell *matCellDef="let cancer"> {{cancer.familyMember}}
                            </td>
                        </ng-container>

                        <!-- Cancer Column -->
                        <ng-container matColumnDef="cancer">
                            <th mat-header-cell *matHeaderCellDef> Cáncer </th>
                            <td mat-cell *matCellDef="let cancer"> {{cancer.cancer}} </td>
                        </ng-container>

                        <!-- Age Column -->
                        <ng-container matColumnDef="age">
                            <th mat-header-cell *matHeaderCellDef> Edad </th>
                            <td mat-cell *matCellDef="let cancer"> {{cancer.age}} </td>
                        </ng-container>
                        <!-- Delete Column -->
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                            <td mat-cell *matCellDef="let cancer"> <button type="button" mat-icon-button color="primary"
                                    (click)="removeMember(cancer)">
                                    <mat-icon>delete</mat-icon>
                                </button> </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="familyMemberCancerFields"></tr>
                        <tr mat-row *matRowDef="let row; columns: familyMemberCancerFields;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="pageSizeOptions" aria-label="Muestra page of familiares"
                        #familyPaginator="matPaginator"></mat-paginator>
                </div>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>



</div>

<div class="container-delete">
    <button type="button" mat-icon-button color="primary" (click)="deletePatient()">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<mat-divider></mat-divider>