<app-title [pageTitle]="'Pacientes'"></app-title>
<div class="container mat-elevation-z8">
    <div class="tab-top-toolbar">
        <span>
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu"
                aria-label="Example icon button with a filter list icon">
                <mat-icon>filter_list</mat-icon>
            </button>

            <mat-form-field appearance="standard">
                <mat-label>Buscar en tabla</mat-label>
                <mat-chip-list #filterList>
                    <mat-chip *ngIf="filter1" color="primary" (removed)="search()" selected>{{filterMsg}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input (keyup)="search()" [(ngModel)]="filter" [matChipInputFor]="filterList" matInput
                        placeholder="Ex. Mia">
                </mat-chip-list>
            </mat-form-field>
        </span>
    </div>
    <mat-menu #menu>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="filter1" (change)="filterData()">
            <mat-list class="menu-list">
                <div mat-subheader>TAC</div>
                <mat-list-item>
                    <mat-radio-button value="NN">SIN REALIZAR</mat-radio-button>
                </mat-list-item>
            </mat-list>
        </mat-radio-group>
        <button mat-menu-item [matMenuTriggerFor]="N">RAD N</button>
        <button mat-menu-item [matMenuTriggerFor]="tac4">RAD 4X</button>
    </mat-menu>
    <mat-menu #tac4="matMenu">
        <mat-radio-group [(ngModel)]="filter1" (change)="filterData()">
            <mat-list class="menu-list">
                <div mat-subheader>4X</div>
                <mat-list-item>
                    <mat-radio-button value="4A">4A</mat-radio-button>
                </mat-list-item>
                <mat-list-item>
                    <mat-radio-button value="4B">4B</mat-radio-button>
                </mat-list-item>
                <mat-list-item>
                    <mat-radio-button value="4S">4S</mat-radio-button>
                </mat-list-item>
            </mat-list>
        </mat-radio-group>
    </mat-menu>
    <mat-menu #N="matMenu">
        <mat-radio-group [(ngModel)]="filter1" (change)="filterData()">
            <mat-list class="menu-list">
                <div mat-subheader>N</div>
                <mat-list-item>
                    <mat-radio-button value="0">0</mat-radio-button>
                </mat-list-item>
                <mat-list-item>
                    <mat-radio-button value="1">1</mat-radio-button>
                </mat-list-item>
                <mat-list-item>
                    <mat-radio-button value="2">2</mat-radio-button>
                </mat-list-item>
                <mat-list-item>
                    <mat-radio-button value="3">3</mat-radio-button>
                </mat-list-item>
            </mat-list>
        </mat-radio-group>
    </mat-menu>
    <table mat-table class="main-table" [dataSource]="dataSource" multiTemplateDataRows matSort>
        <ng-container *ngFor="let column of columnsJoin" matColumnDef="{{column.columnValue}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>{{column.columnName}}</strong></th>
            <td mat-cell *matCellDef="let row" [ngSwitch]="checkDataDisplay(column.cell(row))">
                <span *ngSwitchCase="'boolean'">
                    <mat-icon *ngIf="column.cell(row); else elseIcon" color="warn">check_box</mat-icon>
                    <ng-template #elseIcon>
                        <mat-icon class="negative-exam-icon">check_box_outline_blank</mat-icon>
                    </ng-template>
                </span>
                <mat-icon *ngSwitchCase="'object'">pending</mat-icon>
                <span *ngSwitchCase="'undefined'">
                    <mat-icon *ngIf="expandedElement === row; else elseExpand">expand_less</mat-icon>
                    <ng-template #elseExpand>
                        <mat-icon>expand_more</mat-icon>
                    </ng-template>
                </span>
                <span *ngSwitchDefault>
                    {{column.cell(row)}}
                </span>

            </td>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">{{ NO_TABLE_DATA }}</td>
            </tr>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <mat-list *ngIf="element.state == 'Activo'; else elseestado">

                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon color="primary">phone</mat-icon>
                                {{element.cellphone}}
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon color="primary">contact_mail</mat-icon>
                                {{element.mail}}
                            </mat-list-item>
                        </mat-list>
                    </mat-list>
                    <mat-list *ngIf="element.state == 'Derivado'">

                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon color="primary">phone</mat-icon>
                                {{element.cellphone}}
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon color="primary">contact_mail</mat-icon>
                                {{element.mail}}
                            </mat-list-item>
                        </mat-list>
                    </mat-list>
                    <mat-list *ngIf="element.state == 'Inactivo'">
                        <div matSubheader>MOTIVO: {{element.motivorechazo}} </div>
                    </mat-list>

                    <ng-template #elseestado>
                        <mat-list *ngIf="element.state == 'Rechazado'">
                            <div matSubheader>MOTIVO: {{element.motivorechazo}} </div>
                        </mat-list>
                    </ng-template>

                    <div class="go-to-profile">
                        <span>Ver ficha paciente</span>
                        <button mat-icon-button aria-label="Go to profile link button" (click)="handleProfile(element.idPatient)">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                    </div>
                    

                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <div class="tab-top-toolbar">
        <button mat-icon-button [matMenuTriggerFor]="menuu" aria-label="Example icon-button with a menuu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuu="matMenu">
            <button *appPermission="[PERMISSIONS.ADMIN]; feature FEATURES.PATIENT_FILES" mat-menu-item (click)="exportExcel()" class="btn btn-success btn-sm">Excel</button>
        </mat-menu>

        <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons aria-label=" Seleccione alguna página.">
        </mat-paginator>
    </div>
</div>